		<div class="widget">

			<h6 class="widget-title">Accordion Widget</h6>

			<h4 class="acc-trigger">
				<a href="#">User Research</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Organizational Consulting</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Competitive Analysis</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Market Research</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

		</div><!-- end .widget -->

