<div class="widget">

  <h6 class="widget-title">Twitter Feed</h6>

  <ul class="tweets-feed">
    <li>Oops, our Twitter feed is unavailable at the moment - <a href="http://twitter.com/">Follow us on Twitter!</a></li>
  </ul><!-- end .tweets-feed -->

</div><!-- end .widget -->

