  <!--[if !lte IE 6]><!-->
    <!--[if lt IE 9]> <script src="js/selectivizr-and-extra-selectors.min.js"></script> <![endif]-->
    <%= javascript_include_tag 'jquery-1.7.1.min', 'plugin', 'custom'  %>
  <!--<![endif]-->
</body>
</html>

