	<aside id="sidebar">

		<div class="widget">

			<h6 class="widget-title">Blog Categories</h6>

			<ul class="categories">
				<li><a href="#">Design</a></li>
				<li><a href="#">Awards &amp; Recognition</a></li>
				<li><a href="#">Competitions</a></li>
				<li><a href="#">Travel &amp; Tourism</a></li>
				<li><a href="#">Direct Mail</a></li>
				<li><a href="#">Environment</a></li>
			</ul>

		</div><!-- end .widget -->

		<div class="widget">
		
			<h6 class="widget-title">Text Widget</h6>

			<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

		</div><!-- end .widget -->

		<div class="widget">

			<h6 class="widget-title">Accordion Widget</h6>

			<h4 class="acc-trigger">
				<a href="#">User Research</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Organizational Consulting</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Competitive Analysis</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

			<h4 class="acc-trigger">
				<a href="#">Market Research</a>
			</h4>

			<div class="acc-container">
				<div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu. Aenean nisl orci, cosequat eu.</div>
			</div>

		</div><!-- end .widget -->

		<div class="widget">
		
			<h6 class="widget-title">Twitter Feed</h6>

			<ul class="tweets-feed">
				<li>Oops, our Twitter feed is unavailable at the moment - <a href="http://twitter.com/">Follow us on Twitter!</a></li>
			</ul><!-- end .tweets-feed -->

		</div><!-- end .widget -->

		<div class="widget">
		
			<h6 class="widget-title">Flickr Feed</h6>

			<ul class="flickr-feed">
				<li>Oops, our Flickr feed is unavailable at the moment - <a href='http://flickr.com/'>Check our images on Flickr!</a></li>
			</ul><!-- end .flickr-feed -->

		</div><!-- end .widget -->
		
	</aside><!-- end #sidebar -->

