---
title: Introduction of Easymoo
---
<section id="content" class="container clearfix">

<header class="page-header">

<h1 class="page-title">About Us</h1>

</header><!-- end .page-header -->


<div class="one-half">

  <h4>Our Team</h4>

  <p> Easymoo是一个热忱而努力的年轻团队。我们致力于创造最为简洁和有效的线上工具，革命性地提高传统行业的效率。我们将客户体验作为核心目标，为企业带来业务表现的直接提升。我们不遗余力地采用最新最前沿的技术与方法，热衷于创新与实验。当然，我们还讨厌一切墨守成规。 </p>

</div><!-- end .one-half -->

<div class="one-half last">

  <h4>Our Investor</h4>
  <p> 我们来自TZG Partners，一家投资高增长型业务的投资公司，挑战并重新定义行业标准。集团公司致力于投资中国的初创型企业，具有私募投资、投行业务、项目管理以及初创企业构建的能力。高瞻的独一无二，体现在将项目对环境和社会影响作为重要投资考量，并且倚重其市场知识、战略思维和创新能力，打造可持续发展的并且负有社会责任的企业。 </p>

</div><!-- end .one-half -->

</section><!-- end #content -->
