---
title: Introduction of Zenhacks
---

<header class="page-header">

<h1 class="page-title">About Us</h1>

<p>Zenhacks是一个热忱而努力的年轻团队。我们致力于打造中国最好的年轻技术与商业团队，创造高效、优雅的工具与产品。我们将用户体验作为核心目标，不遗余力地采用最新最前沿的技术与方法，我们欢迎最优秀的青年技术与商业人才与我们一同前行。</p>

</header><!-- end .page-header -->

<div class="one-third">

  <h4>我们在做什么</h4>

  <p>我们不是一个一头扎进泡沫里的2B团队。我们在做一些少有人关注的玩意儿；我们看中的是团队产品与团队成员的共同发展与潜在价值；我们期待不断创造新的好的东西。最重要的是，我们从不放弃创新与创造，并且乐此不疲。</p>

  <p>
    <img width="120px" src="/img/changan-logo.png"></img>
    <img width="120px" src="//manzuoapp.com/img/logo.png"></img>
  </p>

</div><!-- end .one-third -->

<div class="one-third">

  <h4>与我们在一起工作</h4>

  <p>我们期待一些真正认同我们价值与方法的年轻伙伴。我们希望你聪明，乐观，懂得学习。如果有点偏执，那就更好了。无论你来自哪里、年方几何，我们都欢迎你来申请我们的实习计划。我们期待你每周能有三天左右的时间和我们一起工作，地点不是问题。对了，可能你还会考虑待遇，150一天，不能再少了。注意，我们有商业与技术两类角色虚位以待。</p>
  
</div><!-- end .one-third -->


<div class="one-third last">

  <h4>投资机构</h4>

  <p>TZG Partners是一家投资高增长型业务的投资公司，挑战并重新定义行业标准。集团公司致力于投资中国的初创型企业，具有私募投资、投行业务、项目管理以及初创企业构建的能力。高瞻的独一无二，体现在将项目对环境和社会影响作为重要投资考量，并且倚重其市场知识、战略思维和创新能力，打造可持续发展的并且负有社会责任的企业。</p>

</div><!-- end .one-third -->
