---
title: Introduction of Zenhacks
---

<header class="page-header">

<h1 class="page-title">About Us</h1>

  <p>ZenHacks是一个热忱而努力的年轻团队。我们致力于创造最为简洁和有效的线上工具，革命性地提高传统行业的效率。我们将客户体验作为核心目标，为企业带来业务表现的直接提升。我们不遗余力地采用最新最前沿的技术与方法，热衷于创新与实验。当然，我们还讨厌一切墨守成规。</p> 

</header><!-- end .page-header -->



<div class="one-third">

  <h4>我们在做什么</h4>

  <p>是的，我们不是那种一头扎进移动应用、手机游戏里的二逼团队。我们在做一些少有人关注的玩意儿：让那些传统企业从笨重、死板的软件中解放出来。我们创造出优雅、简洁的工具，用技术提高企业的效率。顺便提一句，我们带来的所有改变，只要一个浏览器就够了。</p>

</div><!-- end .one-third -->

<div class="one-third">

  <h4>与我们在一起工作</h4>
  <p> 我们期待并欢迎一些真正认同我们价值与方法的年轻伙伴。 我们希望你聪明，乐观，懂得学习。如果有点偏执，那就更好了。 无论你来自哪里、年方几何，我们都欢迎你来申请我们的实习计划。 我们期待你每周能有<b>三天左右</b>的时间和我们一起工作，地点不限。 对了，可能你还会考虑待遇，<b>150一天</b>，不能再少了。 注意，<b>我们有商业与技术两类角色虚位以待</b>。
  </p>
</div><!-- end .one-third -->


<div class="one-third last">

  <h4>投资机构</h4>
  <p>TZG Partners是一家投资高增长型业务的投资公司，挑战并重新定义行业标准。集团公司致力于投资中国的初创型企业，具有私募投资、投行业务、项目管理以及初创企业构建的能力。高瞻的独一无二，体现在将项目对环境和社会影响作为重要投资考量，并且倚重其市场知识、战略思维和创新能力，打造可持续发展的并且负有社会责任的企业。</p>

</div><!-- end .one-third -->
