---
title: 成都理工大学 - 地址科学研究院
---


<header class="page-header">
  <h1 class="page-title">成都理工大学 - 地址科学研究院 标本 Demo</h1>
</header><!-- end .page-header -->

<iframe id='embed3DViewer'  src='http://www.123dapp.com/FullPreview/embed3DViewer.cfm?assetId=1836578&size=large' scrolling='no' style='border:none; width: 635px; height: 730px'></iframe>iframe
