---
title: "We are Hiring"
---
<section id="content" class="container clearfix">

	<header class="page-header">

		<h1 class="page-title">We are looking talents to be on board</h1>
		
	</header><!-- end .page-header -->
	
	<div class="three-fourth">

    <h4>Our Expectations</h4>
    <p>
    Here, we won't imprison you in some fixed position like those big companies usually do. We believe a hacker, as someone who want to leverage technology/knowledge to make changes happen, he/she will eventually get a hand on all this stuff. That's what we expects who you are.
    </p>
    <p>But we do need some "roles" where you could <b>start</b> to work with us. You could apply either one of them or multiple. 
    </p>
    <p>
    Here is some principles we will use to find "you":
    <ul>
      <li> <b>Learning ability and altitude</b> is more important than expertise. </li>
      <li> <b>Fundamentals</b> is more important than know-hows.</li>
      <li> <b>What you will do</b> is more important than what you have done.</li>
      <li> <b>Actions</b> is more important than ideas and words.</li>
      <li> <b>Access to solutions</b> is more important than solutions.</li>
    </ul>
    </p>
    <p>
      <a class="button" href="/apply.html">Apply Now</a>
    </p>
    <h4 class="acc-trigger">
      <a href="#">Frontend Developer</a>
    </h4>

    <div class="acc-container">
      <div class="content">
        <li> Understanding HTML/CSS     </li>
        <li> Expert at javaScript / jQuery</li>
        <li> How HTTP protocols work with the browser</li>
      </div>
    </div>

    <h4 class="acc-trigger">
      <a href="#">Backend Developer</a>
    </h4>

    <div class="acc-container">
      <div class="content">
        <li> Work on Linux</li>
        <li> Experience with Python/Ruby</li>
        <li> Experience with SQL/noSQL DB.</li>
        <li> Understanding HTTP protocols and its alternatives      </li>
      </div>
    </div>

    <h4 class="acc-trigger">
      <a href="#">System Administrator</a>
    </h4>

    <div class="acc-container">
      <div class="content">
        <ul>
          <li> Work on Linux</li>
          <li> Experience with one scripting language - Python/Ruby/Perl</li>
        </ul>

      </div>
    </div>

    <h4 class="acc-trigger">
      <a href="#">Designer</a>
    </h4>

    <div class="acc-container">
      <div class="content">
        <ul>
          <li> Efficient with mockup tool, even it is <b>pen&paper</b>.</li>
          <li> Interested User Experience.</li>
          <li> Users of various webapp, iOS app, android app.</li>
        </ul>

      </div>
    </div>

    <h4 class="acc-trigger">
      <a href="#">Business Development Pilot</a>
    </h4>

    <div class="acc-container">
      <div class="content">
        <ul>
          <li> Self-motived problem solver</li>
          <li> Good at and enjoy storytelling</li>
          <li> Strong willing to try and win</li>
        </ul>
      </div>
    </div>

    <h4 class="acc-trigger">
      <a href="#">Market Digger</a>
    </h4>

    <div class="acc-container">
      <div class="content">
        <ul>
          <li>Good Business Sense</li>
          <li>Strong Strategic thinking</li>
          <li> Basic research and analysis capacity</li>
        </ul>
      </div>
    </div>
  </div><!-- end .three-fourth -->

  <div class="one-fourth last">

    <h4>Have other skills?</h4>

    <p>Not a problem! Contact us to let us know how you can make a difference at Easymoo.</p>

    <h4>
      <em><a href="mailto:talents@easymoo.com" class="button no-bg">Drop us a line <span class="arrow">&raquo;</span></a></em>
    </h4>

  </div><!-- end .one-fourth.last -->

  </section><!-- end #content -->
