---
title: "We are Hiring"
---

	<header class="page-header">

		<h1 class="page-title">Join Zenhacks</h1>
		
	</header><!-- end .page-header -->
	
  <div>
    <h4>Who Are We?</h4>
    We are not an IT team living in the fantasy built numbers of users, interest of investors. We are doing something ignored by the market, **solving problem with technology and design**. We believe the growth and potential of our team has the highest priority.

    Our teammates have several startup experience and founded NGOs and TEDx community, we love what we are doing and we enjoy our lives.
    
    We just kick off this team and learn and adjust quickly and we are open for possibilities. The current projects we are working on:


    <p><a href="//www.manzuoapp.com"><img height="60px" src='http://manzuoapp.com/img/logo.png'></a></p>

    <p><a href="//manzuoapp.com">Manzuo</a> is a product we are developing to solve queueing problems in China, it adoptes the `HTML5`, `nodeJS` and `webSocket`.</p>

    <p><a href="//hua.li"><img height="40px" src='/img/huali-logo.png'></a></p>

    <p><a href="//www.hua.li">Hua.li</a> are a e-commerce project focus on consumers with regular in-house flower needs.</p>

    <h4>Hacker, Why Join Us？</h4>

    <ul>
      <li> Small team, passionate people</li>
      <li> Early adopters of new technologies(nodeJS, Ruby)</li>
      <li> Work with tools and languages you like</li>
      <li> Mostly `Ruby` and `CoffeeScript`, but we use anything solve our problem, be it LISP or C.</li>
      <li> All Emacs/Vim users</li>
      <li> Unix</li>
    </ul>

    <h4>Our Expectations</h4>
    <p>But we do need some "roles" where you could start to work with us. Here are some principles we will use to find "you" and it is also things that we encourages in the team:</p>

    <ul>
      <li> <b>Seeing the Key Point</b> Fundamentals is more important than know-how. </li>
      <li> <b>Fast Learner</b> Learning ability and altitude is more important than know-how.</li>
      <li> <b>Finding the Way Out</b> Access to solutions is more important than having solutions.</li>
      <li> <b>Future and Potentiao</b> What you will do is more important than what you have done.</li>
      <li> <b>Take Actions</b> Action is more important than idea and word.</li>
    </ul>
  </div>


    <p>
      <a class="button" href="/applytech.html">Apply Tech & Design</a>
    </p>


    <h4>Compensation</h4>
    <ul>
      <li><b>150 / day</b> for the trial period</li>
      <li><b>6k - 10k</b> as a full-time with all benefit.</li>
      <li>Compensation will be evaluated in half year.</li> 
    </ul>

    <h4>Have other skills?</h4>

    <p>Not a problem! Contact us to let us know how you can make a difference at Zenhacks.</p>

    <h4>
      <em><a href="mailto:contact@zenhacks.org" class="button no-bg">Drop us a line <span class="arrow">&raquo;</span></a></em>
    </h4>

  </div><!-- end .one-fourth.last -->
