---
title: "We are Hiring"
---

	<header class="page-header">

		<h1 class="page-title">Join Zenhacks</h1>
		
	</header><!-- end .page-header -->
	
  <div>
    <h4>Our Expectations</h4>
    <p>Here, we won't imprison you in some fixed position like those big companies usually do. We believe as a self-motivated young people who want to leverage his/her own talents to make changes happen, he/she will eventually get a hand on all this stuff. That's what we expect who you are.</p>

    <p>But we do need some "roles" where you could start to work with us. Here are some principles we will use to find "you" and it is also things that we encourages in the team:</p>

    <ul>
      <li> <b>Seeing the Key Point</b> Fundamentals is more important than know-how. </li>
      <li> <b>Fast Learner</b> Learning ability and altitude is more important than know-how.</li>
      <li> <b>Finding the Way Out</b> Access to solutions is more important than having solutions.</li>
      <li> <b>Future and Potentiao</b> What you will do is more important than what you have done.</li>
      <li> <b>Take Actions</b> Action is more important than idea and word.</li>
    </ul>
  </div>


	<div class="one-half">
    <hr>
    <h4>For Hacker and Designer:</h4>
    <ul>
      <li>Small team, passionate people</li>
      <li>Early adopters of new technologies</li>
      <li>Work with tools and languages you like</li>
      <li>Mostly Ruby and CoffeeScript, but we use anything solve our problem</li>
      <li>Emacs/Vim users</li>
      <li>Linux</li>
    </ul>
    
    <div class="role-list">
    <% data.techroles.each do |role| %>
      <h4 class="acc-trigger">
        <a href="#"><%= role['name'] %></a>
      </h4>

      <div class="role-item acc-container">
        <div class="content">
          <% role['requirements'].each do |line| %>
            <li><%= line %></li>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>

    <p>
      <a class="button" href="/applytech.html">Apply Tech & Design</a>
    </p>
  </div><!-- end .one-half -->

  <div class="one-half last">
    <hr>
    <h4>For Business:</h4>
    <ul>
      <li>Be ready for challenges</li>
      <li>Enjoy problem-solving</li>
      <li>Willing to learn and think</li>
      <li>Good at communication</li>
      <li>Believe in team-play</li>
      <li>Diligence and never give up</li> 
    </ul>
    
    <div class="role-list">
    <% data.bizroles.each do |role| %>
      <h4 class="acc-trigger">
        <a href="#"><%= role['name'] %></a>
      </h4>

      <div class="role-item acc-container">
        <div class="content">
          <% role['requirements'].each do |line| %>
            <li><%= line %></li>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>

    <p>
      <a class="button" href="/applybiz.html">Apply Business</a>
    </p>
  </div><!-- end .one-half.lasty -->
  <div class='clear'></div>

  <div class="">

    <h4>Have other skills?</h4>

    <p>Not a problem! Contact us to let us know how you can make a difference at Zenhacks.</p>

    <h4>
      <em><a href="mailto:contact@zenhacks.org" class="button no-bg">Drop us a line <span class="arrow">&raquo;</span></a></em>
    </h4>

  </div><!-- end .one-fourth.last -->
