---
title: Easymoo Product Introduction
---
<section id="content" class="container clearfix">

	<h2 class="slogan align-center">我们创造简单, 有效, 好用的工具.</h2>

	<section id="features-slider" class="ss-slider">
	
		<article class="slide">
		
			<img src="img/imac.png" alt="" class="slide-bg-image" />
			
			<div class="slide-button">
				<span class="dropcap">1</span>
				<h5>Professional</h5>
				<span class="description">From desktop to mobile</span>
			</div>
		
			<div class="slide-content">
				<h2>Professional</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.</p>
			</div>
			
		</article><!-- end .slide (Responsive Layout) -->
	
		<article class="slide">
		
			<img src="img/mobile.png" alt="" class="slide-bg-image" />
		
			<div class="slide-button">		
				<span class="dropcap">2</span>
				<h5>Easy to Use</h5>
				<span class="description">For today and tomorrow</span>
			</div>
			
			<div class="slide-content">
				<h2>Easy to Use</h2>
				<p>Hendrerit eleifend condimentum quis, varius at lacus. Donec ultrices justo scelerisque erat feugiat sed mattis justo volutpat.</p>
			</div>
			
		</article><!-- end .slide (HTML5 / CSS3) -->
	
		<article class="slide">
		
			<img src="img/imac.png" alt="" class="slide-bg-image" />
		
			<div class="slide-button">
				<span class="dropcap">3</span>
				<h5>Go Mobile</h5>
				<span class="description">Build the way you want!</span>
			</div>
			
			<div class="slide-content">
				<h2>Go Mobile</h2>
				<p>Etiam at nunc felis, vitae gravida libero. Morbi molestie elit eget metus volutpat vitae bibendum quam lacinia. Maecenas porttitor blandit nisl sit amet blandit. Phasellus porta sodales accumsan.</p>
			</div>
			
		</article><!-- end .slide (Easily Customisable) -->
	
		<article class="slide">
		
			<img src="img/mobile.png" alt="" class="slide-bg-image" />
		
			<div class="slide-button">
				<span class="dropcap">4</span>
				<h5>Everywhere</h5>
				<span class="description">Stand out from the crowd!</span>
			</div>
			
			<div class="slide-content">
				<h2>Everywhere</h2>
				<p>Fusce porta elit quis nunc mollis ut lacinia eros accumsan. Aenean consequat egestas diam, vel pharetra tellus venenatis in.</p>
				<%# <p><a class="button" href="#">Read More</a></p> %>
			</div>
			
		</article><!-- end .slide (Unique & Clean) -->
		
	</section><!-- end #features-slider -->

  	<div class="one-half">

		<h4>最精准的营销宣传</h4>

		<p>我们通过客户管理数据模型，对新老顾客进行分析，有效地推送餐厅的新产品信息、团购信息、促销信息等等，降低宣传门槛，促进餐厅的营业额，并且餐厅可独立发起团购，避开团购网站的利润分成，更加快捷与独立。</p>
		
	</div><!-- end .one-half -->

	<div class="one-half last">

		<h4>最智能的客流疏导</h4>

		<p>我们将通过智能化算法，计算每一位客户达到餐厅的最佳时间。通过远程排队领号以及自动短信提醒功能，降低消费者的流失，最大限度利用餐厅的有效服务时间，从而实现餐厅的“满座”。</p>
		
	</div><!-- end .one-half last -->

  	<div class="one-half">

		<h4>最精简的操作界面</h4>

		<p>EasyMoo满座系统具有排队、推广、客户维护等一系列强大功能，但操作界面简单、简洁，真正做到能够上网就能够使用此客户管理系统，大大降低对餐厅服务人员的能力要求，降低了培训难度。</p>
		
	</div><!-- end .one-half -->

	<div class="one-half last">

		<h4>最完美的客户体验</h4>

		<p>有了更加便捷的排队领号系统，有了更加精确的等候时间，有了更加趣味的系统操作体验，有了更加贴心的问候短信，有了更加优惠的促销信息，顾客忠诚度自然大大提升，那么商家的财源也自当滚滚而来。</p>
		
	</div><!-- end .one-half last -->
	
</section><!-- end #content -->
