---
title: Easymoo Product Introduction
---
<section id="content" class="container clearfix">

	<h2 class="slogan align-center">我们创造简单, 有效, 好用的工具.</h2>

	<section id="features-slider" class="ss-slider">
	
		<article class="slide">
		
			<img src="img/imac.png" alt="" class="slide-bg-image" />
			
			<div class="slide-button">
				<span class="dropcap">1</span>
				<h5>高效</h5>
				<span class="description">省时省力，轻松搞定</span>
			</div>
		
			<div class="slide-content">
        <h2>高效</h2>	
        <p>突破原有传统人工排队叫号，实现智能化客流疏导，更能实现顾客的远程领号，一个系统，两个客户端，轻松、完美解决您餐厅的排队问题。</p>
			</div>
			
		</article><!-- end .slide (Responsive Layout) -->
	
		<article class="slide">
		
			<img src="img/mobile.png" alt="" class="slide-bg-image" />
		
			<div class="slide-button">		
				<span class="dropcap">2</span>
				<h5>精准</h5>
				<span class="description">模型分析，分类推送</span>
			</div>
			
			<div class="slide-content">
				<h2>精准</h2>
				<p>根据顾客的消费情况，建立相应的顾客模型，定向、分类推送您餐厅的新品、优惠信息，解决您的营销、宣传问题，培养您餐厅顾客的忠诚度。</p>
			</div>
			
		</article><!-- end .slide (HTML5 / CSS3) -->
	
		<article class="slide">
		
			<img src="img/ipad.png" alt="" class="slide-bg-image" />
		
			<div class="slide-button">
				<span class="dropcap">3</span>
				<h5>专业</h5>
				<span class="description">精英团队，极致追求</span>
			</div>
			
			<div class="slide-content">
				<h2>专业</h2>
				<p>我们团队成员来自于国内顶尖学校，技术成员更是有着丰富系统研发经验，我们不断追求更加完美而又简单的软件产品，用我们的专业性服务每一个合作商家。</p>
			</div>
			
		</article><!-- end .slide (Easily Customisable) -->
	</section><!-- end #features-slider -->

  	<div class="one-half">

		<h4>最精准的营销宣传</h4>

		<p>我们通过客户管理数据模型，对新老顾客进行分析，有效地推送餐厅的新产品信息、团购信息、促销信息等等，降低宣传门槛，促进餐厅的营业额，并且餐厅可独立发起团购，避开团购网站的利润分成，更加快捷与独立。</p>
		
	</div><!-- end .one-half -->

	<div class="one-half last">

		<h4>最智能的客流疏导</h4>

		<p>我们将通过智能化算法，计算每一位客户达到餐厅的最佳时间。通过远程排队领号以及自动短信提醒功能，降低消费者的流失，最大限度利用餐厅的有效服务时间，从而实现餐厅的“满座”。</p>
		
	</div><!-- end .one-half last -->

  	<div class="one-half">

		<h4>最精简的操作界面</h4>

		<p>EasyMoo满座系统具有排队、推广、客户维护等一系列强大功能，但操作界面简单、简洁，真正做到能够上网就能够使用此客户管理系统，大大降低对餐厅服务人员的能力要求，降低了培训难度。</p>
		
	</div><!-- end .one-half -->

	<div class="one-half last">

		<h4>最完美的客户体验</h4>

		<p>有了更加便捷的排队领号系统，有了更加精确的等候时间，有了更加趣味的系统操作体验，有了更加贴心的问候短信，有了更加优惠的促销信息，顾客忠诚度自然大大提升，那么商家的财源也自当滚滚而来。</p>
		
	</div><!-- end .one-half last -->
	
</section><!-- end #content -->
