---
title: 
---

<header class="page-header">
  <h1 class="page-title">七大理由让你爱上满座排队系统</h1>
</header>

<section id="why-us">

<% markdown_filter do %>

##告别昂贵而又过时的呼叫器

前台可以在iPad上操作满座排队系统。这个便宜、好用的触屏平板电脑能够取代过时的寻呼总台，而顾客的手机将能取代笨拙的呼叫器。

##增大顾客愿意排长队的几率

通过发送手机短信提醒，让顾客在他们愿意的地方等待。如果在排队的时候，顾客被给予更多的自由去逛逛附近的商家，那么他们更加乐于排长队。而这一切都因为手机没有范围的限制，而餐厅原有呼叫器必须让顾客在场。

##消除拥挤的入口和排队区域

有了短信的提醒，顾客能够四处闲逛。这意味着他们将可以在外面等候，或者在你的店里，或者在对街的书店等等。不拥挤的入口更加便于员工操作，并且路人看不到长长的排队时，更可能走到前台。

##不需要寻找顾客或者大声喊姓名

有了满座排队系统和短信提醒，顾客能够返回前台，而非离开。在大的餐厅中，在吵闹的地方或仅是和一群不关注前台的顾客在一起时，短信能够提醒顾客就餐。

##不同于餐馆的服务人员，满座排队系统能够自动和顾客对话

给予顾客更进一步地指导，比如停止逛街或者当他们计划有变时，回复短信。
在顾客去逛街或者就坐之前，让顾客更多地讨论吃喝，促进他们在餐馆内更多的消费。

##让前台和所有的经理能够在任何地方都能看到最新的排队名单和空余的餐桌

所有人都能共同使用满座排队系统。满座排队系统能被装在iPad, iPhone, iPod等任一个设备上，并且在所有设备中同步。店里的经理能够将排队人群分配到餐桌上。前台能够自动地看到排队的人的去向。在繁忙的餐馆中，前台集中于记录排队队伍，同时系统能够通知顾客。甚至当你不在店里的时候，顾客能够自行在你店里登记。

##感谢顾客并自动建立一个短信营销名单

用餐后，顾客将自动收到一条感谢短信。顾客将被邀请加入短信服务名单，使得他们能够接收到短信营销活动的信息，从而帮助您推动更多业务。

<% end %>
</section>
